body {
  font-family: Garamond;
}

button {
  padding: 3px;
  margin: 2px;
}

.header {
  font-style: italic;
  align-content: center;
}

.menu-layout {
  text-align: center;
  max-width: 740px;
  margin: auto;
}
.area-divider {
  padding-top: 20px;
}
.rating-divider {
  align-self: center;
}
.rating-select {
  padding: 5px;
}

.comment {
  text-align: left;

  margin: 1px;
  border: 3px solid black;
  padding: 5px;
}

.commentArea {
  width: 300px;
  height: 80px;
}

.remove-comment {
  display: none;
}
